<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Broadcast</title>

    <!-- Bootstrap -->
    <link href="../../node_modules/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../../node_modules/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../../node_modules/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../../node_modules/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="../../node_modules/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../../node_modules/gentelella/build/css/custom.min.css" rel="stylesheet">
    <link href="../../public/stylesheets/circleBtn.css" rel="stylesheet">
</head>


<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a class="site_title">
                            <i class="fa fa-paw"></i>
                            <span>ExprOnline</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="../../node_modules/gentelella/production/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>
                                <%=locals.user.userName%>
                            </h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <%include sideBar.ejs%>
                </div>
            </div>

            <%include topNavigation.ejs%>

            <!-- page content -->
            <div style="min-height: 3815px;" class="right_col" role="main">
                <div class="">
                    <div class="clearfix"></div>
                    <div class="row">
                        <!-- previous broadcasts -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Previous Broadcast</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <table class="table table-striped table-bordered" style="width: 90%; table-layout: fixed;">
                                    <thead>
                                    <tr>
                                        <th>创建时间</th>
                                        <th>标题</th>
                                        <th>内容</th>
                                    </tr>
                                    </thead>
                                    <% for(var i = 0; i < messageList.length; ++ i){ %>
                                    <tbody>
                                        <%var s = messageList[i].content;
                                          var temp = "";
                                          var len = s.length;
                                          var head = 0;
                                          
                                          while(len > 40){
                                            temp += s.substring(head, head + 40) + "\n";
                                            head += 40;
                                            len -= 40;
                                          }
                                          temp += s.substring(head, s.length);
                                          %>
                                        <tr>
                                            <td><%=messageList[i].createTime%></td>
                                            <td><%=messageList[i].title%></td>
                                            <td ><%=temp%></td>
                                        </tr>
                                    <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>New Broadcast</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br>
                                    <form novalidate="" id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Title</label>
                                            <div class="col-sm-11">
                                                <input name="title" type="text" class="form-control" id="title" placeholder="Title" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Description</label>
                                            <div class="col-sm-11 ">
                                                <textarea name="description" rows=5 class="form-control" id="description" placeholder="Description" style="resize: none"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-1">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                                <button class="btn btn-primary" type="reset">Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com/">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="../../node_modules/gentelella/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../../node_modules/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../node_modules/gentelella/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../../node_modules/gentelella/vendors/nprogress/nprogress.js"></script>

<!-- icheck -->
<script src="../../node_modules/gentelella/vendors/iCheck/icheck.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="../../node_modules/gentelella/build/js/custom.min.js"></script>

<!-- Datatables -->
<script src="../../node_modules/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../node_modules/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../../node_modules/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../node_modules/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="../../node_modules/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../../node_modules/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../../node_modules/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../../node_modules/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="../../node_modules/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../../node_modules/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../node_modules/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="../../node_modules/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="../../node_modules/gentelella/vendors/jszip/dist/jszip.min.js"></script>
<script src="../../node_modules/gentelella/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="../../node_modules/gentelella/vendors/pdfmake/build/vfs_fonts.js"></script>

<script>
    $("#demo-form2").on("submit", function () {
        $.ajax({
            type: "post",
            url: "/admin/getbroadcast",
            data: $("#demo-form2").serialize(),
            dataType: "json",
            success: function (data) {
                console.log(data);
                window.location.href = "/admin/broadcast";
            },
            error: function (e) {
                console.log("--------------------error-----------------------");
                console.log(e);
                alert("标题与内容不能为空!");
            }
        });
        return false;
    });
</script>

</body>
</html>