div#container
  div#navigation
    button#jumpToVHDL.btn.btn-danger.btn-lg toVHDL
    input#filter(type="text", placeholder="Filter...", autofocus)
    div#paletteElementScroll.list-group
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="draw2d_circuit_switch_HighLow") Switch 
      span.badge#draw2d_circuit_switch_HighLow 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="draw2d_circuit_display_Led") Led
      span.badge#draw2d_circuit_display_Led    0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="draw2d_circuit_switch_PushButton") PushButton
      span.badge#draw2d_circuit_switch_PushButton 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="draw2d_circuit_pulse_50hz") 50Hz
      span.badge#draw2d_circuit_pulse_50hz 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="C74LS00") 74LS00
      span.badge#C74LS00 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="C74LS04") 74LS04
      span.badge#C74LS04 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="C74LS11") 74LS11
      span.badge#C74LS11 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="C74LS14") 74LS14
      span.badge#C74LS14 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="C74LS20") 74LS20
      span.badge#C74LS20 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="C74LS27") 74LS27
      span.badge#C74LS27 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="C74LS86") 74LS86
      span.badge#C74LS86 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="C74LS90") 74LS90
      span.badge#C74LS90 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="C74LS161") 74LS161
      span.badge#C74LS161 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="draw2d_circuit_counter_BCDCounter") BCDCounter
      span.badge#draw2d_circuit_counter_BCDCounter 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="draw2d_circuit_decoder_BCDto7Seg") BCDto7Seg
      span.badge#draw2d_circuit_decoder_BCDto7Seg 0
      div.palette_node_element.draw2d_droppable.list-group-item(data-shape="draw2d_circuit_display_7Segment") 7Segment
      span.badge#draw2d_circuit_display_7Segment 0
  div#toolbar.toolbar
    span.group
      span#fileUpload.ion-ios-upload-outline.icon(data-toggle="tooltip", data-placement="top" title="Load")
      span#fileSave.ion-ios-download-outline.icon(data-toggle="tooltip", data-placement="top" title="Save")
      span#fileSaveAs.ion-ios-cloud-download-outline.icon(data-toggle="tooltip", data-placement="top" title="Save As")

    span.group
      span#editDelete.ion-ios-close-empty.icon.disabled

    span.group
      span#editUndo.ion-ios-arrow-left.icon.disabled
      span#editRedo.ion-ios-arrow-right.icon.disabled
    
    span.group.simulationBase(style='display: none;')
      label Simulation Speed
      input#simulationBaseTimer(type='text', value='100', data-slider-min='50', data-slider-max='500', data-slider-step='1', data-slider-value='100', data-slider-handle='round', data-slider-tooltip='hide', data-slider-id='simulationBaseTimerSlider', data-slider-orientation='horizontal')


    a#simulationStartStop.morph_btn.play(href='#')
      span
        span.s1
        span.s2
        span.s3

  div.content#draw2dCanvasWrapper
    div.canvas#draw2dCanvas(style="width:6000px; height:6000px;", oncontextmenu="return false;")
    div#canvas_zoom.btn-group
      button(type="button")#canvas_zoom_in.btn.highlight -
      button(type="button")#canvas_zoom_normal.btn.highlight 100%
      button(type="button")#canvas_zoom_out.btn.highlight +
  div#probe_window
    div#probe_window_stick.ion-ios-eye-outline(title="Stick Window")
    div#probe_hint
      span.ion-ios-information-outline
      | Right click on a connection to add a probe signal to this logic analyzer window
  //- div#json
