//- bower_components: draw2d
script(src="/draw2d/dist/shifty.js")
script(src="/draw2d/dist/patched_raphael.js")
script(src="/draw2d/dist/jquery.autoresize.js")
script(src="/draw2d/dist/jquery-touch_punch.js")
script(src="/draw2d/dist/jquery.contextmenu.js")
script(src="/draw2d/dist/rgbcolor.js")
script(src="/draw2d/dist/patched_canvg.js")
script(src="/draw2d/dist/patched_Class.js")
script(src="/draw2d/dist/json2.js")
script(src="/draw2d/dist/pathfinding-browser.min.js")
script(src="/draw2d/dist/draw2d.js")

script(src="/javascripts/settings/backend.js")
script(src="/javascripts/draw2d/figures/Connection.js")
script(src="/javascripts/draw2d/figures/DecoratedInputPort.js")
script(src="/javascripts/draw2d/figures/MarkerFigure.js")
script(src="/javascripts/draw2d/figures/MarkerStateAFigure.js")
script(src="/javascripts/draw2d/figures/MarkerStateBFigure.js")
script(src="/javascripts/draw2d/figures/ProbeFigure.js")
script(src="/javascripts/draw2d/ProbeWindow.js")
script(src="/draw2d-shapes/dist/assets/shapes/index.js")
script(src="/draw2d-shapes/dist/assets/shapes/draw2d_circuit_switch_HighLow.js")
script(src="/draw2d-shapes/dist/assets/shapes/draw2d_circuit_display_Led.js")
script(src="/draw2d-shapes/dist/assets/shapes/draw2d_circuit_display_7Segment.js")

script(src="/lib/jquery.browser.js")

//- support draggable function 
script(src="/lib/jquery-ui-1.8.23.custom.min.js")

//- script(src="/chips/json/C74LS00.js")
//- script(src="/chips/json/C74LS04.js")
//- script(src="/chips/json/C74LS11.js")
script(src="/chips/json/C74LS14.js")
script(src="/chips/json/C74LS20.js")
script(src="/chips/json/C74LS27.js")
//- script(src="/chips/json/C74LS86.js")
//- script(src="/chips/json/C74LS90.js")
//- script(src="/chips/json/C74LS161.js")

script(src="/javascripts/shapes/C74LS00.js")
script(src="/javascripts/shapes/C74LS04.js")
script(src="/javascripts/shapes/C74LS11.js")
script(src="/javascripts/shapes/C74LS86.js")
script(src="/javascripts/shapes/C74LS90.js")
script(src="/javascripts/shapes/C74LS161.js")

script(src="/javascripts/IndentWriter.js")
script(src="/javascripts/draw2d/circuitToVHDL.js")

script(src="/mousetrap/mousetrap.min.js")
script(src="/d3/d3.min.js")
script(src="/locstor/locstor.min.js")

link(rel="stylesheet", href="/bootstrap-slider/slider.css")
//- this should be placed after jquery-ui to cover slider function
script(src="/bootstrap-slider/bootstrap-slider.js")
