nav.navbar.navbar-default.navbar-static-top(role="navigation")
  div.container-fluid
    div.navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
         span.sr-only Toggle navigation
         span.icon-bar
         span.icon-bar
      a.navbar-brand(href="/") 数字电路在线实验系统
    div#navbar.navbar-collapse.collapse
      div.navbar-left
        ul.nav.navbar-nav
          li: a(href="/status") STATUS
          - if (user)
            li: a(href="/status?user=#{user}") SUBMISSIONS
          li: a(href="/problem") 题目列表
      div: form.navbar-form.navbar-left(role="search", onSubmit="$('#jumpProbBtn').click(); return false;")
        div.form-group
          input#jumpProb.form-control(type="number", placeholder="题目ID")
        button#jumpProbBtn.btn.btn-default(type="button") 跳转
      div.navbar-right
        - if (user)
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                span.glyphicon.glyphicon-off &nbsp;#{ nickname }
                span.caret
              ul.dropdown-menu(role="menu", aria-labelledby="userMenuDrop0")
                li(role="presentation")
                  a(role="menuitem", href="/profile") 个人信息
                li.divider(role="presentation")
                li(role="presentation")
                  a(role="menuitem", href="/auth/logout") 退出
        - else
          ul.nav.navbar-nav
            li: a(href="/register") 注册
            li: a(href="/auth/login") 登录